:root {
  --card-size: 8rem;
}

body {
  padding-bottom: 2rem;
}

nav {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-content: center;
  padding: .25rem 5rem;
  background: linear-gradient(to bottom,
    var(--candy-color-accent-background1) 0 50%,
    var(--candy-color-accent-background2) 50%);
  border-bottom: var(--candy-color-accent-border1) 1px solid;

  img {
    height: 4rem;
  }

  button {
    align-self: center;
  }

  .logo, .help {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
  }
}

footer {
  .candy-well {
    width: max-content;
    max-width: 100%;
    margin: 2rem auto;
  }

  p {
    margin: 0 auto;
    line-height: 2;
    text-align: center;
    width: max-content;

    a {
      color: var(--candy-color-background1);
      text-decoration: underline;
    }
  }

  pre {
    margin: 0;
  }
}

select {
  max-width: 100%;
}

.App {
  width: max-content;
  margin: 0 auto;
  padding-top: 1rem;
  gap: 1rem;
  display: grid;
  grid-template:
    ". seed" min-content
    "target board" min-content
    "packs board" max-content / auto min-content;
  justify-items: stretch;
  align-items: stretch;
}

.target {
  grid-area: target;
  display: flex;
  flex-direction: column;
  padding-left: 1rem;
  gap: 1rem;
  --card-size: 12rem;
}

.packs {
  grid-area: packs;
  height: 100%;
  font-size: 1.2rem;
  overflow-y: auto;

  h3 {
    margin-top: 0;
  }

  a {
    text-decoration: underline;
  }
}

.toolbar {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-content: flex-end;
  gap: 1rem;
}

.seed {
  grid-area: seed;
  padding-right: 1rem;
  /* margin: 0 auto; */
}

.board {
  grid-area: board;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-template-rows: repeat(auto-fill, 1fr);
  place-items: center;
  position: relative;
}

.flipper {
  min-width: var(--card-size);
  display: flex;
  justify-content: center;
  position: relative;

  img {
    max-height: var(--card-size);
    max-width: var(--card-size);
    min-height: var(--card-size);
    object-fit: cover;
    object-position: 50% 50%;
  }
}

.flipper.down::before {
  content: ' ';
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  z-index: 10;
  top:0;
  bottom:0;
  left: 0;
  right: 0;
}

.bold {
  font-weight: bold;
}

.pack-name:hover {
  text-decoration: underline;
}

h3 {
  margin-bottom: .5rem;
}

.seed input {
  --candy-input-padding-vertical: .3rem;
  font-size: 1.2rem;
  width: 15rem;
  text-align: center;
}

dialog {
  width: max-content;
  max-width: min(95vw, 40rem);
  font-size: 1.2rem;
  position: relative;

  .close {
    position: absolute;
    top: .5rem;
    right: .5rem;
  }
}

@media screen and (min-width: 500px) and (max-width: 1099px) {

  .App {
    padding-bottom: 2rem;
    max-width: 100%;
    gap: .5rem;
    grid-template:
      "target seed" 1fr
      "target packs" min-content
      "board board" auto / auto auto
    ;
  }

  .toolbar {
    gap: .5rem;
  }

  .board .reset {
    position: absolute;
    top: -2rem;
    left: .5rem;
  }
  .packs {
    margin:0;
    height: min-content;
    overflow-y: unset;
    padding-right: 1rem;

    h3 {
      margin: 0;
      display: inline-block;
      margin-right: 1rem;
    }
  }
}

@media screen and (max-width: 499px) {

  :root {
    --card-size: 30vw;
  }
  .App {
    padding-bottom: 2rem;
    width: 100%;
    gap: .5rem;
    grid-template:
      "target" 1fr
      "seed" max-content
      "packs" max-content
      "board" auto / auto
    ;
  }
  .toolbar {
    gap: .5rem;
  }
  .target {
    --card-size: 10rem;
  }
  .board {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
  .seed .toolbar {
    justify-content: center;
  }

  .target, .seed, .packs {
    padding: 0 2rem;

    > * {
      flex: auto;
    }
  }
}

@media screen and (min-width: 500px) and (max-width: 849px) {
  :root {
    --card-size: 23vw;
  }

  .board {
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}

@media screen and (min-width: 700px) and (max-width: 849px) {
  :root {
    --card-size: 19vw;
  }

  .board {
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(auto-fill, 1fr);
  }
}
